.message-list
    .sidebar
        .sidebar__header
            a(href="#profile") Профиль
            input.search(type="text", placeholder="Поиск")
        .sidebar__content
            each value in [{name:'DC', imageUrl:'', time:'10:49', newMessage:2, lastMessage:"Друзья, у меня для вас особенный выпуск новостей!..."},{name:'Петр Ян',imageUrl:'',time:'10:50', newMessage: 0, lastMessage: "И Human Interface Guidelines и Material Design рекомендуют..."},{name:'Jon Jones',imageUrl:'',time:'10:51', newMessage: 0, lastMessage: "И Human Interface Guidelines и Material Design рекомендуют..."}]
                .user-item
                    .user-item__avatar
                        .avatar
                            if(value.imageUrl)
                                img(src=`#{value.imageUrl}`)
                    h6.user-item__title=value.name
                    p=value.lastMessage
                    .user-item__time=value.time
                    if(value.newMessage)
                        .user-item__new-message=value.newMessage
    .message-content
        .empty
            p Выберите чат чтобы отправить сообщение